header {
    position: relative;
    height: 300px;
}
  
h1 {
    padding: 100px 0;
    font: 44px "Arial";
    text-align: center;
}
  
header h1 {
    color: white;
}

svg {
    position: absolute; 
    top: 0; 
    left: 0; 
}

.center-text {
    text-align: center !important;
}

.logo {
    width: 70px;
    height: 70px;
}

.org-name {
    font-size: 30px;
    padding-left: 20px;
}

.org {
    margin-top: 40px;
}

.slogan {
    margin-top: 30px;
}

@media only screen and (max-width: 768px) {
    .org-name {
        font-size: 15px;
        padding-left: 0px;
    }
    .org {
        margin-top: 20px;
    }
    .slogan {
        margin-top: 10px;
        font-size: 15px;
    }
}

.form {
    border: solid;
    border-color: #FD9A24 !important;
    border-width: 10px 1px;
    border-radius: 10px;
    margin: 5px;
    padding: 30px;
}
  